/* 

COPIED OVER, NOT CLEANED UP

Gallery Head Styles
.aug23-intro-img > sets background image through background-image: url(../../images/.jpg);
.aug23-header > general header font
.aug23-title > title font

Entry Styles
.aug23-header > sets title h3
.aug23-byline > sets biobox name

*/






/* ==== God's Covenant Love EXHIBIT
    red:            #ce1417;
        adjusted:   #971214;
    white:          #ffffff;
    black:          #000000;

    font:       poppins, sans-serif;
==== */

/* ==== LANDING BACKGROUND IMG ==== */
/* .aug23-intro-img {
    background-image: url(../../images/aug23_intro-banner.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
} */

.aug23-intro-img:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -10;
    
    background-image: url(../../images/aug23_intro-banner.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

/* ==== TYPOGRAPHY ==== */
.aug23-title {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 3.25rem;

    line-height: 4.5rem;
    padding: 0 2vw;
}
    @media (min-width: 687px) {
        .aug23-title {
            font-size: 5rem;

        }
    }

.aug23-header {
    text-transform: uppercase;
    text-align: center;
}

.aug23-header h3 {
    text-transform: none;
}

.aug23-header p {
    text-transform: none;
    font-weight: 500;
}

.flg29-ref {
    font-size: .85rem;
    text-align: left;
    margin-bottom: 0;
    font-weight: 100;
}

.flg29-foot {
    padding-top: 0;
}

.flg29-bold {
    font-weight: 500;
}

.flg29-ref .superref {
    font-size: .55rem;
}

.flg29-indent {
    margin-left: .59rem;
}

.flg29-indent-dub {
    margin-left: .69rem;
}

.flg29-med {
    margin-top: 4vh;
}

.flg24-verse {
    margin-bottom: .75rem;
}

/* ==== TEXT COLOURS ==== */
.hyperlink, .bold, .about-text h3 {
    color: #971214;
}
    
.gn a, p, .button p, .gal-filter li:hover, .button a, .gal-filter, .gal-select, #toplink, .hyperlink:hover, .social a:hover, .insta-call, .insta-call a, .aside-header, .byline, .medium  {
    color: #ffffff;
}

.aug23-title, .is-selected, .aug23-header, .aug23-header p, .button:hover p, .aug23-verse-box p, .land-ack p, .about-text p {
    color: #000000;
}

/* ==== BACKGROUND COLOURS ==== */
#top-gn, .button {
    background-color: #971214;
}

#galleryhd, .footer, .pullout-panel {
    background-color: #971214;
}

/* ==== BORDER COLOURS ==== */
.mediums-list, .fil-medium {
    border-color: #fff;
}

.button:hover {
    border: #971214 solid 4px;
}

hr {
    border: #fff solid .25px;
}

#flg29-end {
    border: #971214 solid .25px;
}