/* ==== GALLERY HEAD ==== */

	.gallery-header {
		flex-direction: column;
		gap: 2vh;
		width: 85vw;
		text-align: center;
	}
		@media (min-width: 1080px) {
			.gallery-header {
				width: 50vw;
			}
		}


	.gallery-header .head-font {
		margin-bottom: 0;
	}

/* ==== GALLERY WRAPS ==== */

	#galleryhd {
		z-index: 17;
		width: 100vw;
		/* min-height: 100vh; */
		padding-bottom: 5vh;
		justify-content: flex-start;
		align-content: center;
		flex-direction: column;
	}

	.gallery-wrap {
		position: relative;
		z-index: 16;
		width: 100%;
		align-self: center;
		margin-top: 0;
	}
		@media (min-width: 1080px) {
			.gallery-wrap {
				width: 90%;
				margin-top: 2vh;
			}
		}

	#gallery {
		position: relative;
		z-index: 15;
		transition: all .5s ease-in-out;
		opacity: 1;
		margin: 0 auto;
	}

/* ==== GALLERY FILTERS ==== */

	.gal-filter {
		flex-wrap: wrap;
		justify-content: space-evenly;
		flex-direction: column;
		padding: 2vh 3vw;

		text-transform: uppercase;
		letter-spacing: 2.5px;
		text-align: center;
		font-size: .85rem;
		font-weight: 700;
	}
		@media (min-width: 687px) {
			.gal-filter {
				flex-direction: row;
				font-size: 1rem;
			}
		}

	.gal-filter li {
		margin: 0 2vw;
	}

	.gal-filter li:hover {
		font-style: italic;
	}

	.gal-choose {
		padding-top: 4vh;
		padding-bottom: 4vh;

		width: 100%;
		height: 50px;

	}

	.gal-choose p {
		display: block;
		position: absolute;
		width: 100%;
		margin-bottom: 0;
	}
		@media (min-width: 687px) {
			.gal-choose:hover p {
				color: transparent;
			}

			.gal-choose:hover .fil-gal {
				display: flex;
			}
		}

	.gal-select {
		display: block;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		text-align: center;
		font-size: 1rem;
		font-weight: 700;
	}
		@media (min-width: 687px) {
			.gal-select {
				display: none;
			}
		}

	.fil-gal {
		display: none;
		position: relative;
		width: 65%;
	}

	.mediums-list {
		border-top: solid 2px;
		margin-bottom: 2vh;
		padding-top: 2vh;
	}

	.fil-medium {
		display: none;
		width: 100%;
		padding-top: 0;
		margin-bottom: 3vh;
		
		border-bottom: solid 4px;
	}
		@media (min-width: 687px) {
			.fil-medium {
				display: flex;
				margin-bottom: 0;
			}
		}

	#med-select {
		margin-bottom: 0;
	}

	.show-options {
		display: flex;
	}

	.close-selector {
		color: transparent !important;
	}

	.sel-selector {
		font-style: italic;
		opacity: .55;
	}

/* ==== MASONRY GRID ==== */
	
	.grid {
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	.grid-item {
		float: left;
		width: 100%;
		height: auto;
	}
		@media (min-width: 320px) {
			.grid-item {
				width: 100%;
			}
		}
		@media (min-width: 420px) {
			.grid-item {
				width: 50%;
			}
		}
		@media (min-width: 687px) {
			.grid-item {
				width: 33%;
			}
		}
		@media (min-width: 1080px) {
			.grid-item {
				width: 25%;
			}
		}
		@media (min-width: 1200px) {
			.grid-item {
				width: 20%;
			}
		}

/* ==== ASIDE ==== */

	#panel {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;		

		-webkit-box-shadow: 0px 5px 19px 7px rgba(0,0,0,0.19); 
		box-shadow: 0px 5px 19px 7px rgba(0,0,0,0.19);
	}
		@media (min-width: 687px) {
			#panel {
				width: 90%;
			}
		}
		@media (min-width: 1080px) {
			#panel {
				width: 85%;
			}
		}

	.visually-hidden {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}

	.visible {
		display: block !important;
	}
	
	/* ==== SLIDEOUT GALLERY ANIMATION ==== */

		.show-detail #gallery {
			transform: translateX(-102%);
			opacity: .42;
		}
			@media (min-width: 687px) {
				.show-detail #gallery {
					transform: translateX(-95%);
				}
			}
			@media (min-width: 1080px) {
				.show-detail #gallery {
					transform: translateX(-92%);
				}
			}

	/* ==== ASIDE FUNCTION STYLING ==== */
	
		.close {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			margin: 2vw;
			z-index: 12;
			font-size: 2rem;
			text-align: center;
		}

		.close:hover {
			cursor: pointer;
		}

		#toplink {
			font-size: .75rem;
			font-style: italic;
			justify-content: space-around;
			margin-bottom: calc(4vh - 1rem);
		}
			@media (min-width: 687px) {
				#toplink {
					font-size: .95rem;
				}
			}

	/* ==== IMAGE SECTION ==== */

		#panel-top {
			margin: 5vh 2vw;
		}

		/* ==== VIDEO/AUDIO STYLING ==== */

		/* ==== GALLERY CONTROLS ==== */

			.gallery-control-box {
				position: absolute;
				justify-content: space-between;
				align-items: center;
				width: 97%;
			}
				@media (min-width: 1080px) {
					.gallery-control-box {
						width: 97%;
					}
				}

			.gallery-control {
				cursor: pointer;
				height: 61vh;
				width: 30vw;
				margin: 0;
			}
				@media (min-width: 687px) {
					.gallery-control {
						width: 6vw;
					}
				}
				@media (min-width: 1080px) {
					.gallery-control {
						width: 5vw;
					}
				}

			.gallery-control p {
				display: none;
				font-size: 4rem;
			}
				@media (min-width: 687px) {
					.gallery-control p {
						display: block;
					}
				}

			.topper {
				z-index: -10;
			}
				@media (min-width: 1080px) {
					.topper {
						z-index: inherit;
					}
				}
		
		.aside-top {
			width: 86vw;
			text-align: center;
		}
			@media (min-width: 1080px) {
				.aside-top {
					width: 70vw;
				}
			}

		.aside-top img {

			max-width: 100%;
			max-height: 86vh;
			height: auto;
			width: auto;

			margin: .5vh .5vw;

			-webkit-box-shadow: 0px 5px 19px 7px rgba(0,0,0,0.19); 
			box-shadow: 0px 5px 19px 7px rgba(0,0,0,0.19);
		}

	/* ==== WRITTEN SECTION ==== */

		.panel-box {
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		.aside-text {
			width: 100%;
			padding: 5vh 12.5% 10vh;
		}
			@media (min-width: 1080px) {
				.aside-top {
					width: 70vw;
				}
			}

	/* ==== DESCRIPTION STYLING ==== */

		.medium {
			text-align: center;
			margin-top: -1.5rem;
		}

		.bio-box {
			justify-content: flex-start;
			align-items: center;
			gap: 2vw;
			height: 20vw;
			overflow: hidden;
			line-height: 1rem;
		}
			@media (min-width: 480px) {
				.bio-box {
					height: 10vw;
				}
			}
			@media (min-width: 1080px) {
				.bio-box {
					height: 6vw;
				}
			}
			@media (min-width: 1600px) {
				.bio-box {
					height: 5vw;
				}
			}

		.bio-box img {
			width: 20vw;
		}
			@media (min-width: 480px) {
				.bio-box img {
					width: 10vw
				}
			}
			@media (min-width: 1080px) {
				.bio-box img {
					width: 6vw
				}
			}
			@media (min-width: 1600px) {
				.bio-box img {
					width: 5vw
				}
			}

		.byline {
			font-size: .85rem;
			font-style: italic;
			/* margin-top: -1.5rem; */
			margin-bottom: 0;
		}
			@media (min-width: 687px) {
				.byline {
					font-size: 1rem;
				}
			}
		
		.verse-box {
			width: 75%;
			display: flex;
			flex-direction: column;
			margin: 4vh auto .75rem;
			font-size: .95rem;
		}
			@media (min-width: 687px) {
				.verse-box {
					width: 90%;
					font-size: .9rem;
				}
			}
			
		
		.verse {
			margin-bottom: 0;
		}
		
		.verse sup {
			font-style: italic;
			font-size: .65rem;
			vertical-align: super;
		}
		
		.ref {
			text-align: right;
			font-weight: 700;
			font-style: italic;
		}